/*This is for the titles at the top of each page*/
header{
  margin-top: 1%;
  padding: 1%;
  background-color: #2E4057;
}

/*This for for all the titles except the homepage title*/
.CV_Title, .Projects_Title, .Contact_Title{
  text-align: center;
}

/*This is for the navigation on all pages*/
nav{
  margin-top: 1%;
  margin-bottom: 1%;
  padding-top: 1%;
  padding-bottom: 5px;
  background-color: #2E4057;
  color: white;
  text-align: center;
}

/*This is changing the colour of the links*/
A:link{
  color: #53DBB2;
}

/*This is changing the colour of the links while hovering over them*/
A:hover{
  color: white;
}

/*This is changing the colour of the links once they've been visited*/
A:visited{
  color: red;
}

/*This is for the main content on the homepage*/
.Homepage{
  border: 1px solid white;
  margin-left: 25%;
  margin-right: 25%;
  padding: 1%;
  background-color: #2E4057;
  text-align: center;
}

/*This changes the image on the homepage*/
img{
  height: 50%;
  width: 50%;
  padding: 1%;
}

/*This is the background to the website*/
body{
  background-image: url(Background.jpg);
  background-size: cover;
}

/*This changes the colour of the text for the whole website*/
*{
  color: white;
}

/*This is for the table on the CV page*/
table{
  border: 1px solid white;
  padding: 1%;
  margin: 1%;
  margin-left: auto;
  margin-right: auto;
}

/*This is changing the tables rows and columns*/
th, td{
  border: 1px solid white;
  padding-left: 5px;
  padding-right: 5px;
  text-align: center;
}

/*This is for the main content on the CV page*/
.CV{
  border: 1px solid white;
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding: 1%;
  background-color: #2E4057;
  text-align: center;
}

/*This is for my qualifications on the CV page*/
.Qualifications{
  max-width: 87%;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid white;
  padding: 1%;
  margin-top: 1%;
  margin-bottom: 1%;
}

/*This is for my employment/work experience on the CV page*/
.Employment{
  max-width: 85%;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid white;
  padding: 1%;
  margin-top: 2%;
  margin-bottom: 2%;
}

/*This is for my personal information on the CV page*/
.PersonalInfo{
  border: 1px solid white;
  padding: 1%;
}

/*This is for my references on the CV page*/
.References{
  border: 1px solid white;
  padding: 1%;
}

/*This is for the main content on my projects page*/
.Projects{
  border: 1px solid white;
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-color: #2E4057;
  padding-top: 1%;
  padding-bottom: 1%;
}

/*This is for my first project*/
.Project1{
  max-width: 95%;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid white;
  padding: 1%;
  margin-top: 1%;
  margin-bottom: 1%;
}

/*This is for my second project*/
.Project2{
  max-width: 95%;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid white;
  padding: 1%;
  margin-top: 2%;
  margin-bottom: 2%;
}

/*This is for my third project*/
.Project3{
  max-width: 95%;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid white;
  padding: 1%;
  margin-top: 1%;
  margin-bottom: 1%;
}

/*This is for my details on the contact me page*/
.myDetails{
  border: 1px solid white;
  text-align: center;
  position: absolute;
  background-color: #2E4057;
  padding: 2%;
}

/*This is for the twitter feed on the contact me page*/
.twitter{
 text-align: right;
}

/*This is for the form in the footer on the contact me page*/
form{
  border: 1px solid white;
  max-width: 50%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-color: #2E4057;
  padding: 1%;
}

/*This is changing the colour of the input button in the form*/
input{
  color: black;
}
